{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    Summoner Stats, Find Allies, Message Friends - {{ block.super }}
{% endblock title %}

{% block content %}
    <div id="home">
        <div id="landing">
            <div class="logo">
                <img class="resp-img" src="{% static 'website/images/logo.png' %}" alt="Ally.GG">
                <div class="blurb">
                    <span>Coming Soon.</span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
