{% load static %}

<!doctype html>
<html>

<head>
    <title>
        {% block title %}
            Ally.GG - Register
        {% endblock title %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="."/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="icon" id="favicon256" sizes="256x256" type="image/png"
          href="{% static 'dashboard/images/favicon-256.png' %}">

    <link rel="stylesheet" href="{% static 'website/css/style.css' %}"/>

    {% block header %}{% endblock header %}
</head>

<body>
<div id="wrapper">
    <div id="register">
        <nav id="navigation">
            <a class="logo">
                <img class="resp-img" src="{% static 'dashboard/images/logo.png' %}" alt="Ally.GG">
            </a>
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="angle"></div>
        <div class="content">
            <div class="reg-form">
                <div class="blurb">
                    <h2 class="welcome">Welcome to <span>Ally.GG</span></h2>
                    <h3 class="byline">Let's improve your League of Legends experience.</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="fields">
                        {% for field in form %}
                            <div class="field {{ field.name }}">
                                {{ field.label_tag }}

                                <div class="input-group"
                                     {% if field.help_text %}data-tippy-content="{{ field.help_text }}"{% endif %}>
                                    {{ field }}
                                </div>

                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="submit" type="submit">Register</button>
                </form>
            </div>
        </div>
        <footer>
            <ul>
                <li>
                    <a href="/support">Support</a>
                </li>
                <li>
                    <a href="/privacy">Privacy</a>
                </li>
                <li>
                    <a href="/legal">Legal</a>
                </li>
            </ul>
        </footer>
        <div class="hero">
            <div class="image">
                <video autoplay muted loop id="neeko-hero">
                    <source src="{% static 'dashboard/images/neeko-hero-loop.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- <img src="https://cdna.artstation.com/p/assets/images/images/014/192/376/large/jennifer-wuestling-neeko.jpg" alt="Neeko Hero Image" /> -->
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>

<script>
    tippy('.input-group')
</script>

</body>

</html>