#chat {
  display: grid;
  grid-template: auto / 1fr 2fr;
  grid-gap: 50px;
  .friends {
    height: calc(100vh - 150px);
  }
  .chatroom {
    height: calc(100vh - 150px);
    padding: 10px;
    display: grid;
    grid-template: 4fr 1fr / 1fr;
    grid-gap: 20px;
    .messages {
      background-color: $palette-secondary;
      border-radius: 10px;
      border: rgba(0, 0, 0, 0.05) solid 5px;
      overflow-y: scroll;
      padding: 20px;
      display: flex;
      flex-direction: column;
      .message-wrapper {
        background-color: $palette-accent;
        padding: 5px;
        border-radius: 15px;
        color: white;
        margin: 10px 0px;
        margin-right: auto;
        display: inline-block;
        &.self {
          margin-left: auto;
          margin-right: 0;
          background-color: $palette-primary;
        }
      }
    }
    .textbox {
      background-color: $palette-secondary;
      border-radius: 10px;
      border: rgba(0, 0, 0, 0.05) solid 5px;
    }
  }
}
