#home {
  .buttons {
    display: flex;
    justify-content: space-between;
    .warning {
      background-color: #D55453;
      color: white;
      font-weight: bold;
      border-radius: 5px;
    }
  }
  .panels {
    display: grid;
    grid-template: auto / 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    @media #{$bp-md}{
      grid-template: auto / repeat(6, 1fr);
    }
  }
}
