#summoners {
  .panels {
    display: grid;
    grid-template: auto / 2fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    .panel {
      text-align: center;
      table {
        width: 100%;
      }
    }
  }
}

#profile {
  width: 100%;
  .top-wrapper {
    display: grid;
    width: 100%;
    grid-gap: 10px 15px;
    grid-template: 120px 95px 95px / repeat(12, 1fr);
    grid-template-areas:
    "avatar avatar avatar title title title title title title title title title"
    "avatar avatar avatar ranked ranked ranked ranked ranked ranked ranked ranked ranked"
    "avatar avatar avatar menu menu menu menu menu menu menu menu menu";
    .avatar-wrapper {
      grid-area: avatar;
      padding: 20px 40px;
      background-color: white;
      border: 3px solid #f4f4f4;
      border-radius: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      .avatar {
        position: relative;
        margin-bottom: 5px;
        height: 100%;
        img {
          border-radius: 10px;
          width: 100%;
        }
        .level {
          position: absolute;
          bottom: -10px;
          right: 0;
          padding: 2px 20px;
          background-color: white;
          border-top-left-radius: 10px;
          font-size: 2rem;
          font-weight: bold;
        }
      }
      button {
        width: 100%;
        background-color: $palette-accent;
        padding: 8px;
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 5px;
        cursor: pointer;
      }
      .updated {
        font-size: 0.8rem;
        opacity: 0.8;
        margin-top: auto;
      }
    }
    .title {
      grid-area: title;
      display: flex;
      align-items: center;
      .summonerName {
        font-family: Roboto-Black, sans-serif;
      }
      .user {
        display: flex;
        margin: 50px 20px 30px;
        .avatar {
          margin-right: 10px;
          width: 50px;
          img {
            border-radius: 50%;
          }
        }
        a {
          margin: auto 0;
          color: grey;
        }
      }
    }
    .ranked-stats {
      grid-area: ranked;
      display: flex;
      .ranked-solo, .ranked-flexSR, .ranked-flexTT {
        padding: 5px;
        background-color: white;
        border: 3px solid #f4f4f4;
        border-radius: 20px;
        position: relative;
        height: 100%;
        margin-right: 10px;
        display: flex;
        min-width: 250px;
        .medal {
          width: 25%;
          height: 100%;
          display: flex;
          margin: 0 5px;
        }
        .text {
          padding: 5px 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .faded {
            color: grey;
            font-weight: normal;
          }
          .rank {
            color: $palette-accent;
            font-weight: bold;
          }
          .winrate {
            span {
              font-weight: normal;
            }
          }
        }
      }
    }
    #summoner-menu {
      grid-area: menu;
      background-color: white;
      border: 3px solid #f4f4f4;
      border-radius: 20px;
      width: 100%;
      padding: 0;
      display: grid;
      grid-template: auto / 1fr 1fr 1fr 1fr;
      position: relative;
      li {
        border-right: 3px solid #f4f4f4;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.25s ease;
        &.general {
          font-weight: bold;
          opacity: 1;
        }
      }
      .selector {
        width: 25%;
        position: absolute;
        bottom: 0;
        height: 10px;
        background-color: $palette-accent;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        transition: all 0.25s ease;
        left: 0;
        &.s_matches {
          left: 25%;
          border-radius: 0;
        }
        &.s_champions {
          left: 50%;
          border-radius: 0;
        }
        &.s_achievements {
          left: 75%;
          border-radius: 0;
          border-bottom-right-radius: 20px;
        }
      }
      &.s_matches {
        .matches {
          opacity: 1;
          font-weight: bold;
        }
        .general, .champions, .achievements {
          opacity: 0.6;
          font-weight: normal;
        }
      }
      &.s_champions {
        .champions {
          opacity: 1;
          font-weight: bold;
        }
        .general, .matches, .achievements {
          opacity: 0.6;
          font-weight: normal;
        }
      }
      &.s_achievements {
        .achievements {
          opacity: 1;
          font-weight: bold;
        }
        .general, .champions, .matches {
          opacity: 0.6;
          font-weight: normal;
        }
      }
    }
  }
  #summoner-content-wrapper {
    width: 100%;
    margin-top: 20px;
    .content-general, .content-matches {
      display: grid;
      grid-gap: 20px;
      grid-template: 1fr 1fr / repeat(3, 1fr);
      min-height: 100vh;
      grid-template-areas:
        "ranked matches matches"
        ". . .";
      .ranked-panel {
        grid-area: ranked;
        background-color: white;
        border: 3px solid #f4f4f4;
        border-radius: 20px;
        padding: 20px;
        .rank {
          color: $palette-accent;
          margin-top: 5px;
        }
        .league {
          text-align: right;
          color: grey;
        }
        .svg-item {
          width: 100%;
          height: 36vh;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .donut-segment {
            animation: donut-chart-fill 1s reverse ease-in;
            transform-origin: center;
            stroke: #3c56f2;
            transform: scaleX(-1);
            stroke-linecap: round;
          }
          .donut-ring {
            stroke: lightgrey;
          }
          .inside-svg {
            position: absolute;
            top: 25%;
            text-align: center;
            .total-LP {
              font-size: 2.5rem;
              color: $palette-primary;
            }
            .win-loss {
              color: grey;
              font-size: 1rem;
              font-weight: normal;
            }
            .medal {
              width: 7vw;
            }
          }
        }
      }
      .latest-matches-panel {
        grid-area: matches;
        background-color: white;
        border: 3px solid #f4f4f4;
        border-radius: 20px;
        padding: 20px;
      }
      .latest-matches {
        height: 100%;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr;
        grid-gap: 10px;
        padding: 20px 0;
        .match {
          border: 3px solid #f4f4f4;
          display: grid;
          grid-template: auto / 2.2fr 1fr 0.8fr 1fr 1.5fr;
          grid-gap: 5px;
          overflow: hidden;
          border-radius: 10px;
          background-color: white;
          .champion-splash {
            overflow: hidden;
            position: relative;
            background-position: center;
            background-size: cover;
            .triangle {
              width: 0;
              height: 0;
              border-left: 3vw solid transparent;
              border-right: 0;
              border-top: 6vw solid white;
              position: absolute;
              right: 0;
              top: 0;
            }
            .result-wrapper {
              position: absolute;
              right: 0;
              display: flex;
              height: 100%;
              top: 0;
              align-items: center;
              font-weight: bold;
              width: 30%;
              .result {
                width: 100%;
                background-color: white;
                padding: 2px 40px 2px 10px;
                text-align: center;
                border-radius: 10px;
                font-size: 1.8rem;
                color: $palette-primary;
                &.win {
                  color: $palette-accent;
                }
              }
            }
          }
          .main-info {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-self: center;
            .champion {
              color: $palette-primary;
              font-weight: bold;
              font-size: 1.2rem;
            }
            .timeAgo {
              font-size: 0.9rem;
              color: grey;
            }
          }
          .player-info {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-self: center;
            .kda {
              color: $palette-primary;
              font-weight: bold;
              font-size: 1.7rem;
            }
            .average {
              color: grey;
            }
          }
          .sub-info {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-self: center;
            .farm {
              font-size: 1.1rem;
            }
            .kill_p {
              font-size: 0.9rem;
              span {
                font-size: 1.2rem;
                font-weight: bold;
              }
            }
          }
          .items {
            display: grid;
            grid-template: 1fr 1fr / repeat(6, 1fr);
            grid-template-areas:
              "trinket item1 item2 item3 summoner1 rune-primary"
              "trinket item4 item5 item6 summoner2 rune-secondary";
            align-items: center;
            grid-gap: 2px;
            img {
              width: 30px;
              border-radius: 5px;
            }
            .trinket, .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .summoner-1, .summoner-2 {
              height: 30px;
              width: 30px;
              background-color: lightgrey;
              border-radius: 4px;
            }
            .trinket {
              grid-area: trinket;
              margin-right: 4px;
            }
            .item-1 {
              grid-area: item1;
              align-self: end;
            }
            .item-2 {
              grid-area: item2;
              align-self: end;
            }
            .item-3 {
              grid-area: item3;
              align-self: end;
            }
            .item-4 {
              grid-area: item4;
              align-self: start;
            }
            .item-5 {
              grid-area: item5;
              align-self: start;
            }
            .item-6 {
              grid-area: item6;
              align-self: start;
            }
            .summoner-1 {
              grid-area: summoner1;
              align-self: end;
              margin-left: 4px;
            }
            .summoner-2 {
              grid-area: summoner2;
              align-self: start;
              margin-left: 4px;

            }
            .rune-primary {
              grid-area: rune-primary;
              align-self: end;
              margin: 0 4px;
            }
            .rune-secondary {
              grid-area: rune-secondary;
              align-self: start;
              margin: 0 4px;
            }
          }
        }
      }
    }
    &.general {
      .content-general {
        display: grid;
      }
      .content-matches, .content-champions, .content-achievements {
        display: none;
      }
    }
    &.matches {
      .content-matches {
        display: block;
      }
      .content-general, .content-champions, .content-achievements {
        display: none;
      }
    }
    &.champions {
      .content-champions {
        display: block;
      }
      .content-matches, .content-general, .content-achievements {
        display: none;
      }
    }
    &.achievements {
      .content-achievements {
        display: block;
      }
      .content-matches, .content-champions, .content-general {
        display: none;
      }
    }
  }
}