/* Breakpoints */
.fade-enter-active, .fade-leave-active {
  transition: opacity .21s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.looping-rhombuses-spinner {
  width: calc(30px * 4);
  height: 30px;
  position: relative;
  margin: auto; }
  .looping-rhombuses-spinner .rhombus {
    height: 30px;
    width: 30px;
    background-color: #f93d7c;
    left: calc(30px * 4);
    position: absolute;
    margin: 0 auto;
    border-radius: 2px;
    -webkit-transform: translateY(0) rotate(45deg) scale(0);
            transform: translateY(0) rotate(45deg) scale(0);
    -webkit-animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
            animation: looping-rhombuses-spinner-animation 2500ms linear infinite; }
    .looping-rhombuses-spinner .rhombus:nth-child(1) {
      -webkit-animation-delay: calc(2500ms * 1 / -1.5);
              animation-delay: calc(2500ms * 1 / -1.5); }
    .looping-rhombuses-spinner .rhombus:nth-child(2) {
      -webkit-animation-delay: calc(2500ms * 2 / -1.5);
              animation-delay: calc(2500ms * 2 / -1.5); }
    .looping-rhombuses-spinner .rhombus:nth-child(3) {
      -webkit-animation-delay: calc(2500ms * 3 / -1.5);
              animation-delay: calc(2500ms * 3 / -1.5); }

@-webkit-keyframes looping-rhombuses-spinner-animation {
  0% {
    -webkit-transform: translateX(0) rotate(45deg) scale(0);
            transform: translateX(0) rotate(45deg) scale(0); }
  50% {
    -webkit-transform: translateX(-233%) rotate(45deg) scale(1);
            transform: translateX(-233%) rotate(45deg) scale(1); }
  100% {
    -webkit-transform: translateX(-466%) rotate(45deg) scale(0);
            transform: translateX(-466%) rotate(45deg) scale(0); } }

@keyframes looping-rhombuses-spinner-animation {
  0% {
    -webkit-transform: translateX(0) rotate(45deg) scale(0);
            transform: translateX(0) rotate(45deg) scale(0); }
  50% {
    -webkit-transform: translateX(-233%) rotate(45deg) scale(1);
            transform: translateX(-233%) rotate(45deg) scale(1); }
  100% {
    -webkit-transform: translateX(-466%) rotate(45deg) scale(0);
            transform: translateX(-466%) rotate(45deg) scale(0); } }

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes sonar {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0; } }

@keyframes sonar {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0; } }

.half-circle-spinner, .half-circle-spinner * {
  box-sizing: border-box; }

.half-circle-spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto; }

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(60px / 10) solid transparent; }

.half-circle-spinner .circle.circle-1 {
  border-top-color: #f93d7c;
  -webkit-animation: half-circle-spinner-animation 1s infinite;
          animation: half-circle-spinner-animation 1s infinite; }

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #f93d7c;
  -webkit-animation: half-circle-spinner-animation 1s infinite alternate;
          animation: half-circle-spinner-animation 1s infinite alternate; }

@-webkit-keyframes half-circle-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes half-circle-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100; } }

@keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100; } }

#register {
  max-height: 100vh;
  display: grid;
  grid-template: 100px auto 50px / 40vw 15vw 45vw;
  grid-template-areas: 'nav nav hero' 'content angle hero' 'footer angle hero';
  overflow: hidden; }
  #register #navigation {
    grid-area: nav;
    background-color: white;
    z-index: 50;
    display: flex; }
    #register #navigation .logo img {
      margin-left: 0;
      padding: 20px 0 20px 40px; }
    #register #navigation ul {
      display: flex;
      justify-content: flex-end;
      width: 100%; }
      #register #navigation ul li {
        margin: auto 20px; }
  #register .angle {
    grid-area: angle;
    z-index: 30;
    width: 0;
    height: 0;
    border-right: 20vw solid transparent;
    border-top: 100vh solid white;
    margin-top: -100px;
    -webkit-filter: drop-shadow(30px 0px 5px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(30px 0px 5px rgba(0, 0, 0, 0.2)); }
  #register .content {
    grid-area: content;
    background-color: white;
    z-index: 40; }
    #register .content .reg-form {
      padding: 0 40px; }
      #register .content .reg-form .blurb {
        margin: 30px 0; }
        #register .content .reg-form .blurb .welcome {
          font-size: 2rem;
          margin-bottom: 1rem; }
          #register .content .reg-form .blurb .welcome span {
            color: white;
            background-color: #f93d7c; }
        #register .content .reg-form .blurb .byline {
          font-weight: normal;
          color: #333343; }
      #register .content .reg-form form {
        margin-top: 6vh; }
        #register .content .reg-form form .fields {
          display: grid;
          grid-template: auto / 1fr 1fr;
          grid-gap: 20px; }
          #register .content .reg-form form .fields .field {
            display: flex;
            flex-direction: column; }
            #register .content .reg-form form .fields .field label {
              padding: 5px 0; }
            #register .content .reg-form form .fields .field .input-group {
              display: flex; }
              #register .content .reg-form form .fields .field .input-group input {
                width: 100%;
                padding: 20px 10px;
                background-color: #f7f7f7;
                border: none;
                border-bottom: 1px solid #333343; }
            #register .content .reg-form form .fields .field.username {
              grid-column: span 2; }
            #register .content .reg-form form .fields .field.email {
              grid-column: span 2; }
            #register .content .reg-form form .fields .field.key {
              grid-column: span 2; }
      #register .content .reg-form .submit {
        width: 100%;
        height: 50px;
        background-color: #f93d7c;
        color: white;
        border: none;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 50px; }
  #register footer {
    grid-area: footer;
    width: 100%;
    background-color: white;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center; }
    #register footer ul {
      display: flex;
      width: 100%;
      justify-content: space-evenly; }
      #register footer ul li a {
        color: #333343; }
  #register .hero {
    grid-area: hero; }
    #register .hero .image {
      height: 100vh;
      margin-left: -80%; }

html, body {
  width: 100vw;
  margin: 0px;
  overflow-x: hidden;
  color: #333343;
  font-family: 'Roboto', sans-serif; }

button {
  cursor: pointer; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #f93d7c;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

div, img {
  display: block; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

input:focus, textarea:focus, select:focus {
  outline-offset: 0; }

:focus {
  outline: none; }

[v-cloak] {
  display: none !important; }

.resp-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto; }

.loader {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto; }

#landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  #landing .logo .blurb {
    margin-top: 50px; }
