{% load static %}

<!doctype html>
<html>

<head>
  <title>
    {% block title %}
    Ally.GG
    {% endblock title %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="."></meta>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.ico' %}" type="image/x-icon" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
  <script src="{% static 'dashboard/js/all.js' %}"></script>
  {% if DEBUG %}
    <script src="{% static 'dashboard/js/vue.js' %}"></script>
  {% else %}
    <script src="{% static 'dashboard/js/vue.min.js' %}"></script>
  {% endif %}


  {% block header %}{% endblock header %}
</head>

<body>
  {% if request.user.is_authenticated %}
  <div id="wrapper">
    <div id="top-nav">
      <div class="logo">
        <a href="/"><img class="resp-img" src="{% static 'dashboard/images/logo.png' %}" alt="Ally.GG"></a>
      </div>
      <div class="profile">
        <div class="notifications">
          <i class="fas fa-bell"></i>
        </div>
        <div class="avatar">
          {% if MY_PROFILE.avatar %}
            <img class="resp-img" src="{{ MY_PROFILE.avatar }}" alt="{{ MY_PROFILE.user.username }}">
          {% else %}
            <img class="resp-img" src="{% static 'dashboard/images/placeholder.png' %}" alt="{{ MY_PROFILE.user.username }}">
          {% endif %}
        </div>
        <div class="user">
          <a href="/profiles/{{ MY_PROFILE.user.username }}"><h3>{{ MY_PROFILE.user.username }}</h3></a>
          <a href="#"><span><i class="fas fa-circle"></i>Online</span></a>
        </div>
        <div class="acc-options">
          <a href="#"><i class="fa fa-caret-down"></i></a>
          <ul class="options-dropdown">
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <nav id="sidebar">
      <div class="sidebar-wrapper">
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="/">
                <i class="fa fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/summoners/">
                <i class="fa fa-users"></i>
                <span>Summoners</span>
              </a>
            </li>
            <li>
              <a href="/chat/">
                <i class="fa fa-comment-alt"></i>
                <span>Chat</span>
              </a>
            </li>
            {% if MY_SUMMONERS %}
            <li class="sidebar-dropdown">
              <a class="dropdown-title" href="#">
                <i class="fa fa-user-check"></i>
                <span>My Summoners</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  {% for summoner in MY_SUMMONERS %}
                  <li>
                    <a href="/summoners/{{ summoner.summonerName }}">{{ summoner.summonerName }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div id="page-content-wrapper">
      {% block content %}{% endblock content %}
    </div>

    <footer id="footer">
      <span>Footer</span>
    </footer>
  </div>
  {% else %}
  <div id="landing">
    <div class="logo">
      <img class="resp-img" src="{% static 'dashboard/images/logo.png' %}" alt="Ally.GG">
      <div class="blurb">
        <span>Coming Soon.</span>
      </div>
    </div>
  </div>
  {% endif %}
</body>

</html>
