{% extends 'dashboard/base.html' %}

{% block title %}
{{ block.super }} Chat
{% endblock title %}

{% block content %}
<div id="chat">
  <div class="friends panel">
    <h2>Chat</h2>
    <div class="room" v-for="room in rooms" :key="room.roomId" v-if="rooms" v-cloak>
      <span v-for="member in room.members" v-if="member.user.username != '{{ MY_PROFILE.user.username }}'" :key="member.user.username">
        [[ member.user.username ]]
      </span>
    </div>
  </div>
  <div class="chatroom panel">
    <div class="messages">
      <transition name="fade">
        <div class="summonerInfo_loader loader" v-if="loading_msgs" v-cloak>
          <div class="half-circle-spinner">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
          </div>
        </div>
      </transition>
      <div class="message-wrapper" v-for="message in messages" :key="message.id" :class="{ self: message.senderId == '{{ MY_PROFILE.user.username }}' }" v-if="!loading_msgs" v-cloak>
        [[ message.parts[0].payload.content ]]
      </div>
    </div>
    <input id="messageBox" class="textbox" type="text">
    <button id="sendMessage">Send</button>
  </div>
</div>

<script>
var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#chat',
  data: {
    friend: '',
    rooms: [],
    messages: [],
    loading_msgs: true,
  },
  methods: {
    joinTest(){
      const tokenProvider = new Chatkit.TokenProvider({
        url: "https://us1.pusherplatform.io/services/chatkit_token_provider/v1/5969cdbc-1582-40fa-a851-5aa8bcc6993f/token"
      });

      const chatManager = new Chatkit.ChatManager({
        instanceLocator: "v1:us1:5969cdbc-1582-40fa-a851-5aa8bcc6993f",
        userId: "{{ MY_PROFILE.user.username }}",
        tokenProvider: tokenProvider
      });

      axios.get('/api/chat/room/{{ MY_PROFILE.user.username }}')
      .then(response => {
        console.log(response.data);
        vm.rooms = response.data;
      })

      chatManager
      .connect()
      .then(currentUser => {
          // TODO: Find the latest conversation that this user is a member of AND the other participant is on their friends list.
          console.log(currentUser);
          for (key in currentUser.rooms){
            console.log(currentUser.rooms[key].id);
          }
          currentUser.subscribeToRoomMultipart({
          roomId: currentUser.rooms[0].id,
          hooks: {
            onMessage: message => {
              // console.log("Received message:", message)
              this.messages.push(message);
              this.loading_msgs = false;
            }
          }
        })
        document.getElementById("sendMessage").addEventListener("click", function sendMessage() {
          var message = document.getElementById("messageBox").value;
          currentUser.sendSimpleMessage({
            text: message,
            roomId: currentUser.rooms[0].id
          });
          document.getElementById("messageBox").value = '';
        });
      ;
      })
      .catch(error => {
        console.error("error:", error);
      });
    },
  },
  mounted() {
    this.joinTest();
  },
  updated() {
    $('.messages').scrollTop($('.messages')[0].clientHeight);
  }
});
</script>
{% endblock content %}
