{% extends 'dashboard/base.html' %}

{% block title %}
    Summoner Stats, Find Allies, Message Friends - {{ block.super }}
{% endblock title %}

{% block content %}
    <div id="home">
        <h1>Homepage</h1>
        {% if request.user.is_superuser %}
            <div class="buttons">
                <button name="action" v-on:click="update_game_data" type="submit">Update Game Data</button>
                <div>
                    <input type="text" value="" v-model="addPatchItems"/>
                    <button v-on:click="patchItems">Patch Items</button>
                </div>
                <button name="action" v-on:click="deleteMatches" type="submit" class="warning">Delete Matches</button>
                <button name="action" v-on:click="deleteSummoners" type="submit" class="warning">Delete Summoners
                </button>
            </div>
        {% endif %}
        <div class="panels">
            <div class="panel">
                <h2><strong>Total Summoners</strong></h2>
                <span>{{ SETTINGS.stats__SUMMONER_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Total Matches</strong></h2>
                <span>{{ SETTINGS.stats__MATCH_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Current Patch</strong></h2>
                <span>{{ SETTINGS.LATEST_PATCH }}</span>
            </div>
            <div class="panel">
                <h2><strong>Total Kills</strong></h2>
                <span>{{ SETTINGS.stats__TOTAL_KILLS }}</span>
            </div>
            <div class="panel">
                <h2><strong>Unranked Summoners</strong></h2>
                <span>{{ SETTINGS.stats__UNRANKED_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Iron Summoners</strong></h2>
                <span>{{ SETTINGS.stats__IRON_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Bronze Summoners</strong></h2>
                <span>{{ SETTINGS.stats__BRONZE_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Silver Summoners</strong></h2>
                <span>{{ SETTINGS.stats__SILVER_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Gold Summoners</strong></h2>
                <span>{{ SETTINGS.stats__GOLD_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Platinum Summoners</strong></h2>
                <span>{{ SETTINGS.stats__PLATINUM_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Diamond Summoners</strong></h2>
                <span>{{ SETTINGS.stats__DIAMOND_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Master Summoners</strong></h2>
                <span>{{ SETTINGS.stats__MASTER_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Grandmaster Summoners</strong></h2>
                <span>{{ SETTINGS.stats__GRANDMASTER_COUNT }}</span>
            </div>
            <div class="panel">
                <h2><strong>Challenger Summoners</strong></h2>
                <span>{{ SETTINGS.stats__CHALLENGER_COUNT }}</span>
            </div>
        </div>
    </div>

    <script>
        var vm = new Vue({
            delimiters: ['[[', ']]'],
            el: '#home',
            data: {
                addPatchItems: '',
            },
            methods: {
                update_game_data: function (event) {
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios.post('/api/game/', {
                        isUpdate: true,
                    }).then(response => {
                        console.log(response);
                    });
                },
                deleteMatches: function (event) {
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios.post('/api/matches/', {
                        delete_all: true,
                    }).then(response => {
                        console.log(response);
                    });
                },
                deleteSummoners: function (event) {
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios.post('/api/summoners/', {
                        delete_all: true,
                    }).then(response => {
                        console.log(response);
                    });
                },
                patchItems: function (event) {
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                    axios.get('/api/items?method=patchItems&patch=' + this.addPatchItems)
                }
            }
        })
    </script>
{% endblock content %}
