{% extends 'dashboard/base.html' %}

{% block title %}
{{ profile.user.username }} Profile - League of Legends // {{ block.super }}
{% endblock title %}

{% block content %}
<div id="user">
  <h1>{{ profile.user.username }}</h1>
  <button v-on:click="startChat">Start Chat</button>
</div>

<script>
var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#user',
  data: {
  },
  methods: {
    startChat() {
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post('/api/chat/room/', {
        'creator': '{{ MY_PROFILE.user.username }}',
        'recipient': '{{ profile.user.username }}',
      }).then(response => {
        if(response.data['redirect']){
          window.location.href = '/' + response.data['url'];
        }
      })
    }
  },
});
</script>
{% endblock content %}
