{% extends 'dashboard/base.html' %}

{% block title %}
Summoner Stats, Find Allies, Message Friends - {{ block.super }}
{% endblock title %}

{% block content %}
  <div id="errors">
    <transition name="fade">
      <div class="error-wrapper" v-if="isError" v-cloak>
        <div class="alert">
          <span><i class="fas fa-exclamation-triangle"></i> [[ errorMessage ]]</span>
        </div>
      </div>
    </transition>
  </div>
  <div id="summoners" v-bind:class="{ error: isError }">
    <h1>Summoners</h1>
    {% if user.is_authenticated %}
      <div class="actions">
        <input type="text" value="" v-model="addSummonerName" />
        <button v-on:click="addSummoner">Add Summoner</button>
        <span v-if="ajaxRequest" v-cloak>Please Wait ...</span>
      </div>
    {% endif %}
    <div class="panels">
      <div class="topPlayers panel">
        <div class="summoners_loader loader" v-if="topPlayersLoading">
          <div class="half-circle-spinner">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
          </div>
        </div>
        <h2 v-if="!topPlayersLoading" v-cloak>Top 100 Players</h2>
        <transition name="fade">
          <table v-if="!topPlayersLoading" v-cloak>
            <tr>
              <th scope="col">Summoner Name</th>
              <th scope="col">Tier</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">League Points</th>
            </tr>
            <tr v-for="summoner in topPlayers">
              <th scope="row"><a :href="summoner.summonerName">[[ summoner.summonerName ]]</a></th>
              <td>[[ summoner.soloQ_tier ]]</td>
              <td>[[ summoner.soloQ_wins ]]</td>
              <td>[[ summoner.soloQ_losses ]]</td>
              <td>[[ summoner.soloQ_leaguePoints ]]</td>
            </tr>
          </table>
        </transition>
      </div>
      <div class="latestPlayers panel">
        <div class="summoners_loader loader" v-if="latestPlayersLoading">
          <div class="half-circle-spinner">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
          </div>
        </div>
        <h2 v-if="!latestPlayersLoading" v-cloak>Latest Updated Players</h2>
        <transition name="fade">
          <table v-if="!latestPlayersLoading" v-cloak>
            <tr>
              <th scope="col">Summoner Name</th>
              <th scope="col">Last Updated</th>
            </tr>
            <tr v-for="summoner in latestPlayers">
              <th scope="row"><a :href="summoner.summonerName">[[ summoner.summonerName ]]</a></th>
              <td>[[ summoner.date_updated ]]</td>
            </tr>
          </table>
        </transition>
      </div>
    </div>
  </div>

<script>
var errorVm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#errors',
  data: {
    isError: false,
    errorMessage: '',
  }
});

var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#summoners',
  data: {
    results: [],
    postResults: [],
    addSummonerName: '',
    ajaxRequest: false,
    isError: false,
    topPlayersLoading: true,
    topPlayers: [],
    latestPlayers: [],
    latestPlayersLoading: true,
  },
  methods: {
    async getHighElo(){
      // Setup variables and grab first page.
      const results = [];
      page = 1
      let op = await axios.get('/api/summoners?tier=CHALLENGER&tier=GRANDMASTER&tier=MASTER&page_size=100');
      next = op.data.next
      results.push(op.data.results)

      // If there is more than 1 page, loop through them and append the results to the array.
      // while (next != null){
      //   const extra = [];
      //   page += 1;
      //   op = await axios.get('/api/summoners?tier=CHALLENGER&tier=GRANDMASTER&tier=MASTER&page_size=200&page=' + page);
      //   next = op.data.next;
      //   [].push.apply(results[0], op.data.results);
      // }
      this.topPlayers = results[0];
      this.topPlayersLoading = false;
    },
    async getLatestPlayers(){
      let op = await axios.get('/api/summoners?order_by=date_updated&page_size=100');
      for(key in op.data.results){
        op.data.results[key].date_updated = moment(op.data.results[key].date_updated).fromNow()
        this.latestPlayers.push(op.data.results[key])
      }
      this.latestPlayersLoading = false;
    },
    addSummoner: function(event) {
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      this.ajaxRequest = true;
      axios.post('/api/summoners/', {
        value: this.addSummonerName,
        method: 'SummonerName',
      })
      .then(function (response) {
        vm.ajaxRequest = false;
        if (response.data['isError']){
          vm.isError = true;
          errorVm.isError = true;
          errorVm.errorMessage = response.data['errorMessage'];
          setTimeout(function(){
            errorVm.isError = false;
          }, 3000);
          setTimeout(function(){
            vm.isError = false;
          }, 3200);
        } else {
          vm.getHighElo()
          vm.isError = false;
          errorVm.isError = false;
        }
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  },
  mounted() {
    this.getHighElo()
    this.getLatestPlayers()
  }
})

window.onerror = function(message, source, lineno, colno, error) {
  console.log('Exception: ', error)
}

</script>
{% endblock content %}
