{% extends 'dashboard/base.html' %}

{% block title %}
{{ summoner.summonerName }} Summoner Statistics - League of Legends // {{ block.super }}
{% endblock title %}

{% block content %}
<div id="errors">
  <transition name="fade">
    <div class="error-wrapper" v-if="isError" v-cloak>
      <div class="alert">
        <span><i class="fas fa-exclamation-triangle"></i> [[ errorMessage ]]</span>
      </div>
    </div>
  </transition>
</div>
<div id="profile" :class="{ error: isError }">
    <div id="summonerInfo" class="panel">
      <transition name="fade">
        <div class="summonerInfo_loader loader" v-if="playerLoading" v-cloak>
          <div class="half-circle-spinner">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div class="avatar" v-if="!playerLoading" v-cloak>
            <img class="resp-img" :src="'http://ddragon.leagueoflegends.com/cdn/9.6.1/img/profileicon/' + summoner.profileIconId + '.png'">
            <div class="updateButtons">
              <button v-on:click="updateSummoner">
                Update
              </button>
              <h6 v-if="last_updated"><strong>Last Updated: </strong>[[ last_updated ]]</h6>
              <h6 v-else>Data hasn't been fetched yet.</h6>
            </div>
        </div>
      </transition>
      <transition name="fade">
        <div class="statistics" v-if="!playerLoading" v-cloak>
          <h1><span>[[ summoner.summonerName ]]</span></h1>
          <h2><strong>Level: </strong>[[ summoner.summonerLevel ]]</h2>
          <div v-if="last_updated">
            <h2>Solo Queue</h2>
            <h3><strong>Rank: </strong>[[ summoner.soloQ_tier ]] [[ summoner.soloQ_rank ]] - [[ summoner.soloQ_leaguePoints ]]</h3>
            <h3><strong>Wins: </strong>[[ summoner.soloQ_wins ]]</h3>
            <h3><strong>Losses: </strong>[[ summoner.soloQ_losses ]]</h3>
          </div>
        </div>
      </transition>
    </div>
    <div class="matches_loader loader" v-if="matchLoading" v-cloak>
      <div class="half-circle-spinner">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
      </div>
    </div>
    <div id="matches" v-if="!matchLoading" v-cloak>
      <transition-group name="fade">
        <div
          class="match"
          v-for="match in sortedMatches"
          :key="match.gameId"
          v-if="!matchLoading"
          v-cloak
          :class="{ win: match.summonerPrime.win, lose: !match.summonerPrime.win }"
        >
          <div class="stats">
            <h4>Match - [[ match.gameId ]]</h4>
            <h4>[[ match.queue ]]</h4>
            <h4>[[ match.timeAgo ]]</h4>
          </div>
          <div class="champ-info">
            <div class="avatar">
              <img class="resp-img" :src="'http://ddragon.leagueoflegends.com/cdn/9.5.1/img/champion/' + match.summonerPrime.champion.image_full" class="img-responsive" :alt="match.summonerPrime.champion.name">
            </div>
          </div>
          <div class="players">
            <div class="player" v-for="player in match.Players" v-bind:key="player.summonerName">
              <a :href="'/summoners/' + player.summoner.summonerName">[[ player.summoner.summonerName ]]</a>
            </div>
          </div>
          <div class="result"></div>
        </div>
      </transition-group>
      <transition name="fade">
        <div class="no-match" v-if="isEmpty" v-cloak>
          <h1>Sorry, no matches have been loaded!</h1>
        </div>
      </transition>
    </div>
</div>
<script>
var errorVm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#errors',
  data: {
    isError: false,
    errorMessage: '',
  }
});

var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#profile',
  data: {
    summoner: [],
    match_list: [],
    remaining_games: 0,
    last_updated: '',
    matchLoading: true,
    newGamesLoading: false,
    playerLoading: true,
    isEmpty: false,
    isError: false,
  },
  computed: {
    sortedMatches() {
      return vm.match_list.sort(function(a, b) {
        var x = a['timestamp']; var y = b['timestamp'];
        return ((x > y) ? -1 : ((x < y) ? 1 : 0));
      });
    }
  },
  methods: {
    updateSummoner: async function(event) {
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      vm.matchLoading = true;
      vm.playerLoading = true;
      await axios.get('/api/summoners/{{ summoner.summonerName }}?isUpdate=True')
      .then(async function (updateResponse) {
        console.log(updateResponse)
        if (updateResponse.data['isError']){
          errorVm.isError = true;
          errorVm.errorMessage = updateResponse.data['errorMessage'] == 'Rate limit exceeded' ? 'Server under heavy load, try again soon.' : updateResponse.data['errorMessage'];
          vm.isError = true;
          vm.matchLoading = false;
          vm.playerLoading = false;
          setTimeout(function(){
            errorVm.isError = false;
          }, 3000);
          setTimeout(function(){
            vm.isError = false;
          }, 3200);
          console.log(updateResponse.data)
        } else {
          console.log(updateResponse.data);
          vm.summoner = updateResponse.data['summonerInfo']
          vm.last_updated = moment(updateResponse.data['summonerInfo'].date_updated).fromNow()
          vm.playerLoading = false;
          await axios.get('/api/summoners/{{ summoner.summonerName }}').then(response => {
            if (updateResponse.data['newMatches'].length == 0){
              vm.matchLoading = false;
            } else {
              console.log(updateResponse.data['newMatches']);
              vm.remaining_games = updateResponse.data['newMatches'].length;
              vm.createNewMatches(updateResponse.data['newMatches']);
            }
          })
        }
      })
    },
    getSummonerInfo(){
      axios.get('/api/summoners/{{ summoner.summonerName }}').then(summonerResponse => {
        vm.summoner = summonerResponse.data['summonerInfo']
        vm.last_updated = summonerResponse.data['summonerInfo'].date_updated ? moment(summonerResponse.data['summonerInfo'].date_updated).fromNow() : false;
        vm.playerLoading = false;
        vm.getMatchInfo(summonerResponse.data['summonerInfo']['Matches'], summonerResponse.data['summonerInfo']);
      })
    },
    async getMatchInfo(match_list, summoner=null){
      const promiseArray = [];
      match_list.slice(-10).forEach(async function (match) {
        if(vm.match_list.filter(x => x.gameId == match['gameId']) == 0) {
          promiseArray.push(axios.get('/api/matches/' + match['gameId']));
        }
      });
      Promise.all(promiseArray).then(results => {
        results.forEach(async function (result) {
          await axios.get('/api/players/?match=' + result.data['gameId'] + '&player=' + summoner.summonerId).then(playerResponse => {
            result.data['summonerPrime'] = playerResponse.data['results'][0]
            result.data['timeAgo'] = moment(result.data['timestamp']).fromNow();
            vm.match_list.push(result.data);
          })
        })
        vm.match_list.reverse()
        vm.matchLoading = false;
      });
    },
    async createNewMatches(newMatchArray){
      try {
        await axios.post('/api/matches/', {
          'gameId': newMatchArray[0]['gameId'],
        }).then(response => {
          if (response.data['isError']){
            errorVm.isError = true;
            errorVm.errorMessage = response.data['errorMessage'] == 'Rate limit exceeded' ? 'Server under heavy load, try again soon.' : response.data['errorMessage'];
            vm.isError = true;
            vm.matchLoading = false;
            setTimeout(function(){
              errorVm.isError = false;
            }, 3000);
            setTimeout(function(){
              vm.isError = false;
            }, 3200);
            return false;
          } else if (response.data['ignore']){
            vm.matchLoading = false;
            return false;
          } else {
            axios.get('/api/players/?match=' + newMatchArray[0]['gameId'] + '&player=' + vm.summoner.summonerId).then(playerResponse => {
              response.data['newMatch']['summonerPrime'] = playerResponse.data['results'][0];
              response.data['newMatch']['timeAgo'] = moment(response.data['newMatch']['timestamp']).fromNow();
              vm.match_list.push(response.data['newMatch']);
              newMatchArray.shift();
              vm.remaining_games = newMatchArray.length;
              vm.matchLoading = false;
              if(newMatchArray.length > 0){
                vm.newGamesLoading = true;
                vm.createNewMatches(newMatchArray);
              } else {
                vm.newGamesLoading = false;
              }
            })
          }
        });
      } catch (e) {
        ('catch')
        console.log(e)
      }
    }
  },
  mounted() {
    this.getSummonerInfo()
  }
})
</script>
{% endblock content %}
