#profile {
  display: grid;
  grid-template: auto auto/repeat(6, 1fr);
  grid-template-areas: "summonerInfo summonerInfo summonerInfo summonerInfo summonerInfo summonerInfo" "matches matches matches matches matches matches"; }
  #profile #summonerInfo {
    grid-area: summonerInfo; }
  #profile #matches {
    grid-area: matches; }

html, body {
  width: 100vw;
  margin: 0px;
  overflow-x: hidden; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.resp-img {
  max-width: 100%;
  margin: auto; }

#wrapper {
  display: grid;
  grid-template: 80px auto 100px/repeat(12, 1fr);
  grid-template-areas: "nav nav nav nav nav nav nav nav nav nav nav nav" ". main main main main main main main main main main ." "footer footer footer footer footer footer footer footer footer footer footer footer";
  min-height: 100vh; }
  #wrapper #nav {
    grid-area: nav;
    background-color: pink; }
  #wrapper #page-content-wrapper {
    grid-area: main; }
  #wrapper #footer {
    grid-area: footer;
    background-color: yellow; }
